#contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact h1 {
  color: #fff;
  font-size: 3rem;
}
#contact form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
#contact form input,
#contact form textarea {
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #ffffff2d;
  color: #ffffff;
  border-radius: 5px;
}
#contact form textarea {
  height: 150px;
}
#contact form input[type="submit"] {
  height: 45px;
  background: linear-gradient(90deg, #00bfa6 20%, #00bf92);
  color: #ffffff;
  text-transform: uppercase;
}
